PORT=5000
NODE_ENV=production
API_VERSION=v1

MONGODB_URI=
JWT_SECRET=
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=Muse Cosmetics <noreply@musecosmetics.co.ke>

FRONTEND_URL=https://musecosmeticskenya.vercel.app

MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=174379
MPESA_PASSKEY=
MPESA_ENVIRONMENT=production

MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads

RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX=100